<app-premier-component></app-premier-component>
<app-deuxieme-component></app-deuxieme-component>
<app-movies-list></app-movies-list>


{{ 'Interdum velit euismod in pellentesque massa placerat duis ultricies. Tellus integer feugiat scelerisque varius morbi. Elit pellentesque habitant morbi tristique senectus et netus et malesuada. Eget felis eget nunc lobortis mattis aliquam faucibus. Nunc sed blandit libero volutpat sed cras ornare. Suscipit tellus mauris a diam maecenas sed enim. Porttitor rhoncus dolor purus non enim praesent elementum. Convallis posuere morbi leo urna. Odio morbi quis commodo odio aenean. Enim facilisis gravida neque convallis a.' | summary : 100 }}