<form #form="ngForm" (ngSubmit)="submit(form)">
    <div>
        <label for="firstName">Prénom</label>
        <input required minlength="3" #firstName="ngModel" ngModel type="text" name="firstName" id="firstName">
    </div>
    <div *ngIf="firstName.touched && firstName.errors">
        <p *ngIf="firstName.errors['required']">
            Le champ prénom est requis.
        </p>
        <p *ngIf="firstName.errors['minlength']">
            Il manque {{ firstName.errors['minlength']['requiredLength'] - firstName.errors['minlength']['actualLength'] }} charactères
        </p>
    </div>
    <div>
        <label for="comment">Note</label>
        <textarea  ngModel name="comment" id="comment">
        </textarea>
    </div>
    <div>
        <label for="contactMethod">Méthode de contact</label>
        <select name="contactMethod" ngModel id="contactMethod" #contact="ngModel" (change)="alert(contact.value)">
            <option *ngFor="let method of contactMethods" [value]="method">{{method}}</option>
        </select>
    </div>
    <button type="submit">Submit</button>
</form>
{{ form.value | json }}
